name: Develop Workflow

on:
  push:
    branches:
      - develop

jobs:
  tag_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build the Docker image latest tag
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            lamassuiot/lamassu-ui-dev:${{ github.sha }}
            lamassuiot/lamassu-ui-dev:latest
